services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: songs
    volumes:
      - pgdata2:/var/lib/postgresql/data
      - ./actual-dump.sql:/docker-entrypoint-initdb.d/actual-dump.sql:ro
    ports:
      - "5432:5432"

  bot:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: python main.py

volumes:
  pgdata:
